<div class="bg-sakura-200 bg-pink-sakura p-10 text-white">
  <section
    class="text-sakura-900 container mx-auto flex max-w-3xl flex-col gap-10 rounded-xl bg-white p-10"
  >
    <h1 class="text-center text-2xl font-semibold md:text-3xl">編輯的話</h1>
    <div class="mx-auto flex w-full max-w-3xl flex-col gap-5">
      <p>
        起初只是看著 vTuber
        玩遊戲實況。看著她們辛苦蓋好的房子不小心失火而手忙腳亂、因為弄丟冒險途中遇見的貓咪而難過、因夥伴的加入而感到開心，也因為發現海洋、取得第一把三叉戟而感到驕傲。我見證了最初只有幾人的小聚落，逐漸成長為熱鬧的社群；不僅如此，大家甚至在遊戲中舉辦過萬聖節、聖誕節，以及大型運動會等活動。
      </p>
      <p>
        虛擬世界一直都是我的願景。我也曾期待未來能夠實現完全潛行，因此大學選擇了資訊工程，而非平面設計。曾經的我，希望能創造出具有人性與感性的
        AI；也正因如此，如今的我十分關注 vTuber 的活動。雖然她們並不是
        AI，但每位中之人都賦予角色獨特的個性、表情與生命力，某種程度上就像是我理想中的感性
        AI 的倒影。
      </p>
      <p>
        看了好幾個月的 Minecraft
        實況後，我也開始規劃這個世界的設定、定位與未來方向。於是，我決定創造一個屬於自己的虛擬世界：
      </p>
      <ul class="border-sakura-200 flex flex-col gap-2 border-l-2 pl-5 italic">
        <li>一個能與朋友相聚的世界；</li>
        <li>一個讓想像力自由奔馳的世界；</li>
        <li>一個暫時脫離現實的世界；</li>
        <li>以及一個能跨越時空、承載回憶的世界。</li>
      </ul>
    </div>

    <div
      class="border-sakura-100 flex items-center justify-end gap-4 border-t pt-6"
    >
      <span class="font-semibold">phwu</span>
      <picture>
        <source srcset="/images/phwu-avatar.avif" type="image/avif" />
        <source srcset="/images/phwu-avatar.webp" type="image/webp" />
        <img
          src="/images/phwu-avatar.png"
          alt="phwu"
          width="48"
          height="48"
          class="size-12 rounded-full object-cover"
        />
      </picture>
    </div>
  </section>
</div>
