<section class="text-sakura-900 container mx-auto flex flex-col gap-10 p-10">
  <h1 class="text-center text-2xl font-semibold md:text-3xl">
    Welcome to Taiyaki Sakura!
  </h1>
  <p class="mx-auto w-full max-w-3xl">
    Welcome to Taiyaki Sakura, a Minecraft world lovingly built by a few
    Computer Science and Design students who may or may not have sacrificed a
    healthy amount of sleep. Here, you are free to create, make memories, and
    briefly escape reality. The name “Taiyaki Sakura” comes from Sakura Miko’s
    favorite snack, taiyaki. This server was inspired by her Minecraft streams,
    and in many ways this world is a small tribute to Miko and her adventures.
  </p>
  <p class="mx-auto w-full max-w-3xl text-xs">
    <span class="font-bold">Claimer</span> The management accepts no responsibility
    for lost sleep, missed bedtimes, or "just five more minutes" that somehow become
    three hours.
  </p>
</section>
