<section class="text-sakura-900 container mx-auto flex flex-col gap-10 p-10">
  <h1 class="text-center text-2xl font-semibold md:text-3xl">
    歡迎來到櫻鯛燒！
  </h1>
  <p class="mx-auto w-full max-w-3xl">
    歡迎來到櫻鯛燒（Taiyaki
    Sakura），這是一個由幾位資工與設計系學生廢寢忘食打造的麥塊世界。
    在這裡，你可以盡情發揮創造力、建立回憶，並暫時逃離現實。「櫻鯛燒」這個名字，來自於
    vTuber 櫻巫女（さくらみこ）最喜歡的鯛魚燒。
    建立這個伺服器的契機，同樣來自於櫻巫女的麥塊實況。 也算是獻給 Miko
    的一份小小應援。
  </p>
  <p class="mx-auto w-full max-w-3xl text-xs">
    （※ 本人概不負責你因貪玩而消失的時間。）
  </p>
</section>
