---
import { getRelativeLocaleUrl } from "astro:i18n";

import BgmPlayer from "@/components/BgmPlayer.astro";

const lang = Astro.currentLocale === "zh-TW" ? "zh-TW" : "en";

const rawPath = Astro.url.pathname.startsWith("/zh")
  ? Astro.url.pathname.slice(3) || "/"
  : Astro.url.pathname;
const enUrl = getRelativeLocaleUrl("en", rawPath);
const zhUrl = getRelativeLocaleUrl("zh-TW", rawPath);
---

<header
  class="sticky top-0 mx-auto h-(--header-height) max-w-480 bg-white/75 shadow-lg backdrop-blur"
>
  <div
    class="pointer-events-none absolute bottom-0 left-[calc(50vw-min(160px,40vw)+1rem)] h-[calc((min(calc(100vh-env(safe-area-inset-bottom)),45rem)+var(--header-height))/2)]"
  >
    <picture class="sticky -top-4">
      <source srcset="/images/type-logo-sakura@3x.avif" type="image/avif" />
      <source srcset="/images/type-logo-sakura@3x.webp" type="image/webp" />
      <img
        src="/images/type-logo-sakura@3x.png"
        alt="Taiyaki Sakura"
        width="280"
        class="max-w-[min(280px,70vw)]"
      />
    </picture>
  </div>

  <div
    class="container mx-auto flex h-(--header-height) items-center justify-between"
  >
    <nav>
      <a href={getRelativeLocaleUrl(lang, "/")}>
        {lang === "zh-TW" ? "首頁" : "Home"}
      </a>
    </nav>
    <div class="pointer-events-none max-w-[min(280px,70vw)]"></div>
    <div>
      <a href={enUrl} aria-current={lang === "en" ? "page" : undefined}> EN </a>
      <a href={zhUrl} aria-current={lang === "zh-TW" ? "page" : undefined}>
        中文
      </a>
    </div>
  </div>
</header>
<BgmPlayer />
