---
import Barebone from "@/layouts/Barebone.astro";
import Header from "@/components/layout/LayoutHeader.astro";
import Footer from "@/components/layout/LayoutFooter.astro";

import HowTo from "@/components/howto/HowToEnV1.astro";
---

<Barebone title="Taiyaki Sakura">
  <aside
    class="bg-sakura-50 relative isolate z-15 mx-auto grid min-h-svh max-w-480 place-items-center pb-[calc(var(--header-height)+var(--header-margin)+0.5rem)]"
  >
    <picture>
      <source srcset="/images/taiyaki-type-ring@3x.avif" type="image/avif" />
      <source srcset="/images/taiyaki-type-ring@3x.webp" type="image/webp" />
      <img
        src="/images/taiyaki-type-ring@3x.png"
        alt="Taiyaki Sakura"
        width="320"
        class="pointer-events-none max-w-[min(320px,80vw)]"
      />
    </picture>
  </aside>
  <Header />

  <main
    class="bg-white-sakura text-sakura-900 mx-auto max-w-480 bg-white py-10"
  >
    <HowTo />
  </main>

  <Footer />
</Barebone>
