---
import Barebone from "@/layouts/Barebone.astro";
import Header from "@/components/layout/LayoutHeader.astro";
import Footer from "@/components/layout/LayoutFooter.astro";

interface Props {
  title: string;
  description?: string;
  bodyClass?: string;
}
---

<Barebone {...Astro.props}>
  <Header />

  <main
    class="bg-white-sakura text-sakura-900 mx-auto max-w-480 bg-white pt-[calc(var(--header-height)+1rem)] pb-10"
  >
    <slot />
  </main>

  <Footer />
</Barebone>
